@use 'variables';
@use 'mixins';

.navbar-modal{
    /* display: none; */
    width: 250px;
    background-color: variables.$White;
    height: 100%;
    padding: 28px 15px;
    &__background{
        /* display: none; */
        /* mixing - codigo reutilizable en scss */
        @include mixins.modal-background;
        display: none;
        z-index: 1;
    }
    &__close-icon{
        padding-bottom: 55px;
    }
    &__items{
        list-style: none;
    }
    &__item{
        margin-bottom: 25px;
    }
    &__link{
        color: variables.$Black;
        font-weight: 700;
        text-decoration: none;
    }
}